
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Home page</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="card-deck mb-3 text-center">
<div *ngFor="let opt of info" class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{opt.name}}</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">$ {{opt.price}} <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>{{opt.user}}</li>
            <li>{{opt.memory}}</li>
            <li>{{opt.help}}</li>
            <li>{{opt.helps}}</li>
        </ul>
        <button type="button" (click)="onSubmit(opt)" class="btn btn-lg btn-block btn-primary">Get started</button>
    </div>
</div>
</div>